.container .__transform__ {
    transition: 2s all;

    &:hover {
        transform: rotateX(360deg);
        font-size: 2em;
    }
}

#nav__text {
    transition: 3s all;

    &:hover {
        transform: rotateX(180deg);
    }
}

.__rotate__ {
    transition: 2s ease;

    &:hover {
        transform: rotateX(360deg);
    }
}

.__rotateY__ {
    transition: 2s ease;

    &:hover {
        transform: rotateY(360deg);
    }
}
